.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    min-width: 0;
    height: 100%;
}

.main {
    padding: 16px;
    position: relative;
    max-width: 100%;
    min-width: 0;
    overflow-x: auto;
}

p code {
    padding: 2px;
    border-radius: 4px;
    background-color: #efefef;
    line-height: 22px;
}

pre code {
    display: block;
    padding: 16px;
    background-color: #efefef;
    border-radius: 8px;
}

.contentWrapper {
    padding: 16px;
    width: 100%;
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*height: max-content;*/
}

h1, .title {
    font-size: 2rem;
}

.sidebar {
    width: 400px;
    height: 100%;
    border-left: 1px solid #e0e0e0;
}

.details {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
}

.details > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #e0e0e0;
}

.details > li > :last-child:not(:first-child) {
    margin-left: 8px;
}

.details > li > a, .details > li > a:visited, .details > li > a:active {
    color: #2196f3;
    font-weight: bold;
    text-decoration: none;
}

.details > li > a:hover {
    text-decoration: underline;
}
